.dashboard-link-div:hover{
   background-color: rgb(211, 205, 205);
}

.dashboard-link{
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: #eb0f5d;
   
}
.dashboard-link-div{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #eb0f5d;
 
}